.news {
    margin:30px 20%;
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
    background-color: #cae2f1;
    border-radius: 30px;
}
.box_text
{
    text-align: center;
    height: 25px;
    width: auto;
    margin: 0 40%;
    font-size: 25px;
    border-radius: 30px;
}

.line_text
{
    margin: 0 60px;
    height: 25px;
    text-align: center;
    font-size: 25px;
    border-radius: 30px;
}

.context_new
{
    margin:0 20px;
    font-size: 25px;
    height: 100px;
    border-radius: 30px;
}

.button
{
    margin: 10px auto;
    border-radius: 30px;
    width: 150px;
    height: 25px;
}

.signature
{
    text-align: center;
    font-size: 28px ;
    margin-top: 10px;
}


.side_navigation {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
}

.side_navigation a {
    color: #000000FF;
    padding: 16px;
    text-decoration: none;
    display: block;
}
