.news {
    margin: 30px 20%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #cae2f1;
    border-radius: 30px;
}

.img_news
{
    margin: 20px;
    border-radius: 30px;
    width: 170px;
    height: auto;
}

.title
{
    text-align: center;
    margin-right: 30px;
    margin-top: 20px;
    font-size: 35px;
}

.paragraph
{
    grid-area: 2 / 1 / span 1 / span 2;
    text-indent: 30px;
    font-size: 28px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.side_navigation {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
}

.side_navigation a {
    color: #000000FF;
    padding: 16px;
    text-decoration: none;
    display: block;
}