<form action="/edit_news" method="post">
    <div class="news">
        <input class="box_text" type="text"  id="id" name="id" value="{id}"/>
        <label class="signature" for="title">Название новости</label>
        <input class="line_text" type="text" id="title" name="title" value="{title}"/>
        <label class="signature" for="url_image">url картинки</label>
        <input class="line_text" type="text" id="url_image" name="url_image" value="{url_img}"/>
        <label class="signature" for="text">Описание новости</label>
        <textarea class="context_new" id="text" name="text"> {text} </textarea>
        <input class="button" type="submit">
        <label for="isDelete">Удалить</label>
        <input type="checkbox" id="isDelete" name="isDelete">
    </div>
</form>